[user]
	email = liam.mcnamara@klarna.com
	name = Liam McNamara
[push]
	default = current
[credential]
	helper = osxkeychain
[alias]
	stat = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	glog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	ls = log --oneline
	co = checkout
	ci = commit
	st = status
	ca = commit
	cam = commit -m
	cob = checkout -b
	last = log -1 HEAD
	cpm = commit -p -S -m
	br = branch --sort=committerdate
[core]
	excludesfile = /Users/liam.mcnamara/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	verbose = true
	gpgsign = false
[init]
	templatedir = ~/.git_templates
[color]
	ui = true
[diff]
	noprefix = true
[pull]
	rebase = false
[advice]
	detachedHead = false
