[user]
	email = liam.mcnamara@klarna.com
	name = Liam McNamara
	signingkey = 8CACA2C9
[push]
	default = current
[credential]
	helper = osxkeychain
[alias]
	stat = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	glog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
  ls = log --oneline
	co = checkout
	br = branch
	ci = commit
	st = status
	cam = commit -am --
  cam = "!f() { git commit  -a -m $@; }; f"
  cob = "!f() { git checkout -b $1; }; f"
	last = log -1 HEAD
[core]
	excludesfile = ~/.gitignore
